@import "tailwindcss";
@import "notivue/notification.css";
@import "notivue/animations.css";

@layer base {
    * {
        /* hide scrollbar */
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

 